@media only screen and (max-width: 480px) {

h1{text-align: center;color: #FFFFFF;font-family: cursive;}
body{background-color: #CB6D84;}
p{font-family:cursive;color:#FFFFFF;text-align: center;font-size: 30px;
   

}
a{color: #B12447;text-align: center;text-decoration: none;font-size: 50px;}
img{max-width: 100%;height: auto;object-fit: contain;
display: block;margin: auto;}
}