@media only screen and (max-width: 480px){

    body{background-color:#CB6D84 ;}
    p{color:white;font-family: cursive;font-size: 30px;}
    img{ width: 50%;}

    div{border:solid  ; width :200px; color:white; height: 100px; margin:10px;padding:20px;display:block;border-radius: 25%;background-color: #E5B6C2;}
    a{color:#B12447;font-size: 20px;font-family: 'Times New Roman', Times, serif;text-align: center;}
}