@media only screen and (max-width: 480px){


    body{background-color:#B12447;}
    p{color:#FFFFFF;font-family: cursive;font-size: 30px;}
    img{width:90%;}
    div{color:#FFFFFF;font-family: cursive;font-size:30px}
    .red{color:red; text-align: center;


    }
}
